<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../static/css/reset_password.css">
</head>

<body>
  <div class="outer-frame">
    <div class="left-taskbar">
      <div class="theme-toggle-container">
        <button id="theme-toggle" class="theme-toggle-btn" aria-label="Toggle theme">
          <i class="fas fa-moon" id="theme-icon"></i>
        </button>
      </div>
    </div>
    <div class="container">
      <h2>Reset Your Password</h2>
      <form id="resetPasswordForm" class="form-section">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required><br>

        <label for="otp">OTP</label>
        <input id="otp" type="text" name="otp" required><br>

        <label for="new_password">New Password</label>
        <input id="new_password" type="password" name="new_password" required><br>

        <label for="new_password2">Re-enter Password</label>
        <input id="new_password2" type="password" name="new_password2" required><br>

        <button type="submit">Reset Password</button>
      </form>
      <div id="resetPasswordResult"></div>
    </div>
  </div>
  <script src="../static/js/reset_password.js"></script>
  <script src="../static/js/login.js"></script>
</body>

</html>
